.aboutUs {
  padding-top: 253.81px;
  padding-bottom: 212px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards {
  display: flex;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide {
  max-width: 442px;
  margin-right: 100px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .aboutUs__title {
  max-width: 358px;
  margin-top: 12px;
  margin-bottom: 158px;
  color: #316099;
  font-size: 36px;
  font-weight: 600;
  line-height: 127.778%;
  letter-spacing: 1.8px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  padding-left: 48px;
  padding-bottom: 48px;
  padding-right: 48px;
  max-width: 332px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card .abousUs-img_leftSide-card {
  width: 182px;
  height: 132px;
  padding-top: 48px;
  padding-left: 26px;
  margin-bottom: 56px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card h2 {
  color: #1f3f68;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 16px;
  max-width: 257px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card p {
  font-family: "Gilroy-Regular", sans-serif;
  color: #1f3f68;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 284px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  height: 30px;
  color: #5a98d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 214.286%;
  letter-spacing: 0.7px;
  border: 0;
  padding: 0;
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card button img {
  width: 24px;
  height: 24px;
}
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card button:hover,
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card button:focus,
.aboutUs .aboutUs__wrapper .aboutUs__cards .aboutUs__leftSide .abousUs_leftSide-card button:active {
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat right center;
  color: #065ca8;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide {
  max-width: 380px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card {
  position: relative;
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  padding-left: 48px;
  padding-right: 48px;
  margin-bottom: 100px;
  max-width: 332px;
  min-height: 525px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card .abousUs-imgOne_rigthSide-card {
  position: absolute;
  left: 50px;
  top: -27px;
  width: 224px;
  height: 197px;
  z-index: 1;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card h2 {
  padding-top: 222.37px;
  color: #1f3f68;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card p {
  color: #1f3f68;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 284px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  height: 30px;
  color: #5a98d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 214.286%;
  letter-spacing: 0.7px;
  border: 0;
  padding: 0;
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card button img {
  width: 24px;
  height: 24px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card button:hover,
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card button:focus,
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideOne-card button:active {
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat right center;
  color: #065ca8;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 5px 20px 50px 0px rgba(16, 112, 177, 0.2);
  padding-left: 48px;
  padding-bottom: 48px;
  padding-right: 48px;
  max-width: 332px;
  max-height: 525px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card .abousUs-imgTwo_rigthSide-card {
  width: 156px;
  height: 131px;
  padding-top: 49px;
  padding-left: 52px;
  margin-bottom: 56px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card h2 {
  color: #1f3f68;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 16px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card p {
  color: #1f3f68;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 162.5%;
  letter-spacing: 0.8px;
  opacity: 0.6;
  margin-bottom: 32px;
  max-width: 284px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 127px;
  height: 30px;
  color: #5a98d0;
  font-family: "Gilroy-Regular", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 214.286%;
  letter-spacing: 0.7px;
  border: 0;
  padding: 0;
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat 95% center;
  transition: 0.2s all;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card button img {
  width: 24px;
  height: 24px;
}
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card button:hover,
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card button:focus,
.aboutUs .aboutUs__wrapper .aboutUs__rigthSide .abousUs_rigthSideTwo-card button:active {
  background: url(/img/svg/aboutUs/ic_arrow_forward_24px.svg) no-repeat right center;
  color: #065ca8;
}/*# sourceMappingURL=aboutUs.css.map */