.wrapper {
  max-width: 910px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
}

@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
/*
font-family: 'Gilroy-Bold', sans-serif;
font-family: 'Gilroy-Heavy', sans-serif;
font-family: 'Gilroy-Light', sans-serif;
font-family: 'Gilroy-Medium', sans-serif;
font-family: 'Gilroy-Regular', sans-serif;
*/
@import url("https://db.onlinewebfonts.com/c/d1243736bfe07b546f8f1e54e7804afb?family=Galien+Regular");
