header {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 15px 0;
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    .header__logo {
      display: flex;
      position: relative;
      align-items: center;
      .header__logo-white {
        background-color: #fff;
        border: #316099 2px solid;
        border-radius: 45px;
        width: 28px;
        height: 28px;
        position: absolute;
        left: 16px;
      }
      .header__logo-blue {
        background-color: #316099;
        width: 32px;
        height: 32px;
        border-radius: 45px;
        position: absolute;
        z-index: -10;
      }
      .header__logo-title {
        position: absolute;
        left: 26px;
        top: -15px;
        width: 14px;
        color: #316099;
        font-size: 20px;
        font-family: "Gilroy-Bold", sans-serif;
        font-style: normal;
        line-height: 28px;
      }
    }
    .header__navigation {
      width: 32px;
      height: 32px;
      button {
        //доделать цвет
        background: rgba(18, 135, 238, 0) 31.12%;
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0;
      }
    }
  }
}
