.home {
  .home__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 786px;
    z-index: -1;
    background: linear-gradient(
      0deg,
      #98c3e8 8.84%,
      rgba(152, 195, 232, 0) 31.12%
    );
    opacity: 0.2;
  }
  .home__wrapper {
    padding-top: 189px;
    position: relative;

    .home__wrapper-title {
      padding-left: 129px;
      max-width: 510px;
      padding-right: 100px;

      h1 {
        color: #1f3f68;
        margin-bottom: 32px;
        font-family: "Galien Regular";
        font-size: 64px;
        font-weight: 700;
        line-height: 115.625%;
        letter-spacing: 2.56px;
      }
      p {
        max-width: 425px;
        height: 82px;
        margin-bottom: 71px;
        color: #1f3f68;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 16px;
        line-height: 162.5%;
        letter-spacing: 0.8px;
        opacity: 0.6;
      }
      button {
        width: 220px;
        height: 56px;
        color: #fff;
        text-align: center;
        font-family: "Gilroy-Light", sans-serif;
        font-size: 16px;
        line-height: 162.5%;
        letter-spacing: 0.64px;
        border: 0;
        padding: 0;
        border-radius: 10px;
        background: #5a98d0;
        box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.2);
      }
    }
    .home__wrapper-image {
      position: absolute;
      left: 590.38px;
      top: 99.76px;
      width: 687px;
      height: 613px;
      z-index: -5;
      img {
        object-fit: cover;
      }
    }
  }
}
